@inject IMqttService MqttService

<button type="button" class="button is-primary" disabled="@(MqttService.Connected)" @onclick="Connect">Connect</button>
<button type="button" class="button" disabled="@(!MqttService.Connected)" @onclick="DisconnectAsync">Disconnect</button>

@code {

    public async Task Connect()
    {
        await MqttService.ConnectAsync();
    }

    public async Task DisconnectAsync()
    {
        await MqttService.DisconnectAsync();
    }

}
