@page "/connection"
@inject IMqttService MqttService

<h1>Connection</h1>

<button type="button" class="btn btn-primary" disabled="@(MqttService.Connected)" @onclick="Connect">Connect</button>
<button type="button" class="btn btn-secondary" disabled="@(!MqttService.Connected)" @onclick="DisconnectAsync">Disconnect</button>

@code {

    public async Task Connect()
    {
        await MqttService.ConnectAsync();
    }

    public async Task DisconnectAsync()
    {
        await MqttService.DisconnectAsync();
    }

}
