@page "/"


<div class="columns">
    <div class="column">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">Connection</p>
                    </header>
                    <div class="card-content">
                        <Connection></Connection>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">Publish</p>
                    </header>
                    <div class="card-content">
                        <Publish></Publish>
                    </div>
                </div>

            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">Subscribe</p>
                    </header>
                    <div class="card-content">
                        <Subscribe></Subscribe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">Received messages</p>
            </header>
            <div class="card-content">
                <Inbox></Inbox>
            </div>
        </div>

    </div>
</div>
