@page "/"


<div class="tile is-ancestor">
    <div class="tile is-vertical">
        <div class="tile is-parent">
            <div class="tile is-child box">
                <Connection></Connection>
            </div>
        </div>
        <div class="tile">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <Publish></Publish>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <Subscribe></Subscribe>
                </div>
            </div>
        </div>
    </div>
</div>
