@page "/"


<div class="tile is-ancestor">
    <div class="tile is-vertical">
        <div class="tile is-parent">
            <div class="tile is-child box">
                <Connection></Connection>
            </div>
        </div>
        <div class="tile">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <h1 class="title">Publish</h1>
                    <div>
                        <Publish></Publish>
                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <h1 class="title">Subscribe</h1>
                    <div>
                        <Subscribe></Subscribe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
