@page "/settings"

<div class="columns">
    <div class="column is-one-quarter">
        <p class="menu-label">
            Settings
        </p>
        <aside class="menu">
            <ul class="menu-list">
                <li>
                    <a class="is-active">
                        Connection profiles
                    </a>
                </li>
            </ul>
        </aside>
    </div>
    <div class="column">
        <ConnectionProfileEdit></ConnectionProfileEdit>
    </div>
</div>


@code {

}
