@inherits LayoutComponentBase

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            <span class="icon is-medium has-text-info"><i class="fas fa-paper-plane"></i></span>
            <h1 class="title is-5 has-text-info">MQTTrace</h1>
        </div>
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="/settings">Settings</a>
    </div>
</nav>

<section class="section">
    @Body
</section>
