@inherits LayoutComponentBase

<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://github.com/paolofulgoni/MQTTrace">
            MQTTrace
        </a>
    </div>
</nav>

<section class="section">
    @Body
</section>

